.header{    
    display:flex;
    justify-content:center;
    align-items:center; 

    &__text-wrapper{
        position: absolute;
        width:50vw;
        left: 10%;
        top: 35%;
        color:$font-color-secondary;
        z-index:1;
    }
    &__subtitle{   
        font-weight:400;        
    }

    &__icon-wrapper{
        display: flex;
        flex-direction: row;            
        align-items: center;
    }
                    
    &__icon{
        display:flex;
        width:1.5em;
        height:1.5em;
        justify-content: center;
        align-items:center;

        &__img{
            position:absolute;
            width:1em;
            height:0.5em;
            z-index: 1;
        }

        span{
            position: absolute;
            height: 1.5em;
            width: 1.5em;
            box-shadow: 0 15px 30px 0 rgba(0,0,0,0.001);
            border-radius: 100%;

            &:nth-child(2){
                background: $content-color-highlight-primary;
            }
            &:nth-child(3){
                background: $content-color-highlight-secondary;
            }
            &:nth-child(4){
                background: $content-color-highlight-tertiary;
            }
        }
    }

    &__text{
        margin-left:1.2em;
    }

    &__hero-image{
        width:100vw;
        height:100vh;

    }
}